<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="beforeAdvice" class="com.devfuns.spring.aop.advice.BeforeAdviceWait"/>
    <bean id="afterAdvice" class="com.devfuns.spring.aop.advice.AfterAdviceWait" />
    <bean id="methodInter" class="com.devfuns.spring.aop.advice.MethodInterceptorAdvice"/>
    <bean id="throwAdvice" class="com.devfuns.spring.aop.advice.TransactionThrowAdvice" />
    <bean id="wait" class="com.devfuns.spring.aop.advice.NavieWaiterImpl"/>

    <!--p:interceptorNames="beforeAdvice,afterAdvice"-->
    <!--interceptorNames属性，接收的是String[] 类型的参数，可以用idref的形式配置，这样IDEA在，编辑配置文件的时候，IDEA就能
    及时发现错误，并给出警告，当然也可以用  p:interceptorNames="beforeAdvice,afterAdvice" 的简化形式配置-->
    <bean id="waitProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:target-ref="wait" p:interceptorNames="beforeAdvice,afterAdvice"
          p:interfaces="com.devfuns.spring.aop.advice.Waiter" >
        <!--<property name="interceptorNames" >-->
            <!--<list>-->
                <!--<idref bean="beforeAdvice" />-->
                <!--<idref bean="afterAdvice" />-->
            <!--</list>-->
        <!--</property>-->
    </bean>

     <!--环绕增强-->
    <bean id="waitInterProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:target-ref="wait" p:interceptorNames="methodInter"
          p:interfaces="com.devfuns.spring.aop.advice.Waiter" >
        <!--<property name="interceptorNames" >-->
        <!--<list>-->
        <!--<idref bean="beforeAdvice" />-->
        <!--<idref bean="afterAdvice" />-->
        <!--</list>-->
        <!--</property>-->
    </bean>

    <!--// 异常增强-->
    <bean id="throwWaitProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
        p:target-ref="wait" p:interceptorNames="throwAdvice"
          p:proxyTargetClass="true">
    </bean>


    <!--引介增强-->
    <bean id="introduceAdvice" class="com.devfuns.spring.aop.advice.IntroduceAdviceImpl" />
    <bean id="introduceAdviceWait" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.devfuns.spring.aop.advice.IntroduceAdvice" p:proxyTargetClass="true"
          p:target-ref="wait" p:interceptorNames="introduceAdvice" />


    <!--切面部分的增强-->
    <bean id="beforeAdviceAdvisor" class="com.devfuns.spring.aop.advisor.BeforeAdviceAdvisor" />

    <!--定义一个切面，切面中注入增强beforeAdviceAdvisor   p:advice-ref -->
    <bean id="staticAdvisor" class="com.devfuns.spring.aop.advisor.StaticMethodPointCutAdvisor"
          p:advice-ref="beforeAdviceAdvisor" />

    <!--wait的另一个实现，由于staticAdvisor切面中，只实现了对方法的判断，所以切面只会对方法过滤，而不会对类进行过滤，此处
    验证！！ -->
    <bean id="saller" class="com.devfuns.spring.aop.advisor.Saller" />

    <!--定义一个AOP代理，interceptorNames使用定义的静态切面staticAdvisor-->
    <bean id="staticAdvisorProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="staticAdvisor" p:target-ref="wait" p:proxyTargetClass="true" />

    <bean id="staticAdvisorSallerProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="staticAdvisor" p:target-ref="saller" p:proxyTargetClass="true" />

    <!--正则表达式切面-->
    <bean id="regAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:advice-ref="beforeAdviceAdvisor">
        <property name="patterns">
            <list>
                <value>.*To.*</value>
            </list>
        </property>
    </bean>

    <!--正则表达式的切面代理-->
    <bean id="regexAdvisorProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="regAdvisor" p:target-ref="wait" p:proxyTargetClass="true" />

    <!--动态切面-->
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="beforeAdviceAdvisor"></property>
        <property name="pointcut">
            <bean class="com.devfuns.spring.aop.advisor.DynamicAdvisor"></bean>
        </property>
    </bean>

    <!--动态切面代理-->
    <bean id="dynamicAdvisorProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="dynamicAdvisor" p:target-ref="wait" p:proxyTargetClass="true"/>
</beans>

